.blockHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(240, 240, 240);
    margin-bottom: 1.6rem;
}

.search {
    font-size: 1em;
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
}

.categoryContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 32px;
    margin-bottom: 2rem;
}

.categoryHeading * {
    /* text-align: right; */
    padding: 0.4rem 0rem 0 0;
}

.categoryListItems {
    list-style-type: none !important;
	padding-left: 0px !important;
	margin-left: 0px;
}

.listItem {
    border-bottom: 1px solid rgb(240, 240, 240);
    margin-top: 0px !important;
}

.listItem a {
    text-decoration: none !important;
    display: block;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

@media only screen and (max-width: 961px) {
    .categoryContainer {
        grid-template-columns: 1fr;
    }
  }