.welcomeContainer {
    padding: 1rem;
    padding-right: 1.4rem;
    background-color: mistyrose;
}
.sideBySide {
	display: flex;
	/* align-items: baseline; */
}

.sideBySide > :first-child{
margin-right: 1.2rem;
font-size: 1.9rem;
line-height: 0.75;
}