.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-auto-rows: 1fr;
    column-gap: 32px;
    row-gap: 32px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.gridItem {
    padding: 26px;
    background: white;
    color: #404248;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.gridItem * {
    color:  #404248;
    margin: 0px;
}